/******* style for projects Page ********/

body {
  margin: 5px;
  background-repeat:repeat-x repeat-y;
  background-image: url("../media/img/aboutMe/home_bg.jpg");
  z-index: -2;
}

div#shell{
  padding-left: 10px;
}
